@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Noto+Sans&family=Open+Sans:ital,wght@1,300&family=Roboto+Condensed:wght@300&family=Square+Peg&family=Water+Brush&display=swap');

.row{
    margin: 0 !important;
}
body{
    background: #111 !important;
}
main .col{
    padding: 0 !important;
}

:root{
    --i_color : #777;
    --s_color : #aaa;

}
p{
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    color: var(--s_color);
}


header{
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: .5rem 1rem;
} 

header nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem 0;    
}
header nav .title-nav{
    margin: 0 2rem;
}
header nav .title-nav h5{
    font-family: 'adobe-garamond-pro', Georgia, "Times New Roman", serif;
    /* font-family: "proxima-nova", Helvetica, Arial, sans-serif; */
    color: #666;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    
}
nav .icon-menu{
    display: none;
    color: #666;
}
nav ul{
    display: flex;
    margin-bottom: 0;
}
nav ul li{
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif; 
    font-weight: 600;
}
nav ul li a{
    text-decoration: none;
    color: #666;
    margin: 0 2rem;
}

nav ul li a:hover{    
    color: #848484; 
}

@media(max-width:1000px) {
    header{
        padding: 0;
        
    }
    header nav .title-nav{
        margin: 0 ;
    }
    header nav h5{
        font-size: .8em;
    }

    header nav ul{
        display: none;
    }
    header nav h1{
        font-size: 1rem;
    }
    header nav ul.list-nav.show{
        position: fixed;
        display: flex !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0
        ;
    }
    nav{
        padding:  2rem !important;
    }
    nav ul li{
        margin: 10px 0;
        font-size: 1.5rem;
    }
    nav .icon-menu{
        display: block; 
        z-index: 1000; 
        cursor: pointer;      
    }
    nav .icon-menu.clicked{
        color: rgb(24, 28, 37);       
    }
        
}
@media(max-width:800px){
    header{
        background: #f8f8f8;
    }
} 





main{
    background: white;
}

main .text{
    display: table;
    text-align: center;
}
.text .t-main{
    display: table-cell;
    vertical-align: middle;
}
.t-main h1{
    font-family: -webkit-body;
    font-size: 4rem;
}
.t-main h2{
    font-family: -webkit-body;
    font-size: 2.5rem;
}
.t-main p{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
    color: #848484;
}

 /* main .t-img{
    height: 700px;
    overflow: hidden;
} */

@media(max-width:1000px) {
    .t-main h1{
        font-size: 4rem;
    }  
    .t-main h2{
        font-size: 3rem;
        
    } 
    main .t-img{
        height: auto;
    } 
}


@media(max-width:850px) {
    main .text{        
        text-align: left;
    }
    .t-main p{
        margin-left: 0;
    }
}

@media(max-width:800px) {    
    main{
       flex-direction: column-reverse;
       padding: 15rem 0 0;
       background: #f8f8f8;
       
    }
    main .text {
        position: absolute;
        text-align: center;
        z-index: 1;        
    }
    .t-main h1{
        color: white;
        font-size: 3rem;
    }  
    .t-main h2{        
        font-size: 2rem;
        color: #a1a1a1;
    }  
    .t-main p{
        margin-left: auto !important;
        width: 100%;
        /* display: none; */
        margin-bottom: 1rem;
        margin-top: 0;
    }
   
    
}


.perfil{
    margin: 20rem 0 ;
    align-items: center;
}
.perfil .row{
    width:90%;
    margin: auto !important;
} 

.perfil .per-title{    
    display: table
}
.per-title span{
    display: table-cell;
    vertical-align: middle;
}
.per-title p{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;  
    font-weight: 600;
    display: table-cell;
    color: rgb(141, 141, 141);
    transform: rotate(-90deg);
}
.perfil .per-text{
    text-align: end;   
    color: #363636; 
      
} 
.per-text p{
    margin-bottom: 3rem;
    font-size: 1.8em;
    line-height: 1.6em;   
    letter-spacing: 2px;
    font-family: 'adobe-garamond-pro', Georgia, "Times New Roman", serif;    
}
.per-text .cv {
    transform: translateX(-20%);
    width: 100%;
    opacity: 0;
    transition: 1s;
} 
.per-text .cv[data-scroll='in']{
    transform: translateX(0);
    transition-delay:.2s; 
    opacity: 1;
}
.per-text .cv a{
    font-size: 1.8em;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;     
    color: var(--s_color);
    letter-spacing: 2px;
    font-family: 'adobe-garamond-pro', Georgia, "Times New Roman", serif;    
}
@media(max-width:1000px) {    
    .per-text p,
    .per-text a{
        font-size: 1.5em;
    }
}
@media(max-width:800px){
    .perfil{
        margin: 10rem 0;
    }
} 
@media(max-width:700px) {    
    .per-text p,
    .per-text a{
        font-size: 1.2em;
    }
}

@media(max-width:600px) {    
    .perfil .row{
        display: block;
    }
    .perfil .per-title {
        text-align: end;
        margin: 0 0 3rem 0;
        width: 100%;
    }
    .per-title span{
        display: grid;
    } 
    .per-title p {
        transform: rotate(0deg);
    }
}






.carousel{
    padding: 0 0  50vh;
}

.carousel .end .label-front{
    width: 30%;
    transition: all 1s;
}
.carousel .end .label-front[data-scroll="in"]{
    width: 100%;
}

.carousel p{
    color: var(--s_color);
    border-top: 4px solid #777;
    padding: 2rem 0 ;
    width: 95%;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.end{
    max-width: 100%;
    overflow: hidden;
    margin: 6rem 0 ;

}

.end h1{    
    text-transform: uppercase;
    color: var(--i_color);
    font-weight: 600;
    white-space: nowrap;  
    font-size: 5.9rem;
    font-family: Bebas Neue,sans-serif;    
    letter-spacing: -.025em;
}

@media(max-width:1000px){
    .end h1{
        font-size: 2.9rem;
        transform: translate3d(0, 0, 0) !important;
        white-space: normal; 
    }
} 







.container-projs{
    width: 100%;
    height: 100%; 
    position: relative;
}

.proj-title{
    height: 100vh;
}

#projects .proj-title p{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: xx-large;
    text-align: center;
    color: rgb(141, 141, 141);
}

.proj{
    display: block;
    min-width: 100%; 
}

.proj:nth-child(2){    
    text-align: -webkit-right;
}
.proj:nth-child(4){    
    text-align: -webkit-right;
}

.proj .col-9{
    margin: auto;
}

@media(max-width:800px){
    .proj .col-5{
        width: 100%;
    }
} 




.proj .proj-img{
    filter: brightness(0.6);
}
.proj .proj-img img{
    border-radius: 5px
}
.proj .proj-img:hover{
    filter: brightness(0.8);
}
.proj .proj-info{
    margin-top: 2rem; 
    color: var(--s_color);    
}
.proj  h3{
    text-transform: uppercase;
    letter-spacing: 0px;    
    font-family: 'adobe-garamond-pro', Georgia, "Times New Roman", serif;
    font-weight: 600;
    font-size: x-large;
}
.proj p{
    font-family: 'adobe-garamond-pro', Georgia, "Times New Roman", serif;
    
    
}
@media(max-width:900px){
    .proj{
        display: block;
        margin-bottom: 0 !important;
    }
    .proj .col{
        width: 100%;
        margin-bottom: 5rem !important;
        padding: 0 !important;
    }
}




#contact{
    text-align: center;
    padding: 50vh 0 0;
}

#contact h5{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: xx-large;
    text-align: center;
    color: rgb(141, 141, 141);
}

#contact p{
    margin: 2rem 0 0;
    letter-spacing: 2px;
    font-family: 'adobe-garamond-pro', Georgia, "Times New Roman", serif;        
}


footer{
    background: #111;
    padding: 22vh 0;   
    
}

footer .f-ul{
    display: flex;
    justify-content: center;
    padding: 0;
}
.f-ul .f-li{
    list-style: none;   
    margin: 0 2.5%;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;    
}
.f-li a{
    text-decoration: none;
    color: var(--s_color);    
    font-weight: 600;    
}
.f-li a:hover{
    color: #666;
}
.f-text{
    margin-top: 6rem;
    text-align: center;
    color: #666;
    padding: 0 2rem;
    
} 

@media(max-width:1000px) {
    .f-li{
        font-size: 1em;
    }    
}

@media(min-width:1000px) {
    .f-li{
        font-size: 1.2em;
    }    
}

@media(max-width:600px) {
    .f-ul{
        display: block !important;
        text-align: center;
    }
    .f-li{
        margin: 0 0 30px 0 !important;
        font-size: 1.2rem;
    }  
}

 

